In [1]:
import pandas as pd
import numpy as np

A = pd.DataFrame([[1,'b',3],[4, None ,6],[None, 'c',9]], index = ['1','2','3'], columns = ['one','two','three'])
A

   one   two  three
1  1.0     b      3
2  4.0  None      6
3  NaN     c      9

In [2]:
A.isnull().sum()

one      1
two      1
three    0
dtype: int64

In [11]:
A['one'].fillna(A['one'].median(), inplace=True)

In [12]:
B=pd.get_dummies(A)

In [13]:
B

   one  three  two_b  two_c
1  1.0      3      1      0
2  4.0      6      0      0
3  2.5      9      0      1

In [24]:
B.isnull().sum()

one      1
three    0
two_b    0
two_c    0
dtype: int64